<h1>プロフィール編集画面</h1>
<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @user do |f| %>
  <label for="名前を入力してください">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <%= f.submit "変更を保存" %>
<% end %>
<%= link_to "変更せずにユーザープロフィールに戻る",user_path(current_user) %>
