<h2>タイトル</h2>
<p><%= @list.title%></p>

<h2>本文</h2>
<p><%= @list.body %></p>
<% if @list.user == current_user %>
    <%= link_to "削除", subject_path(@list), method: :delete %>
<% end %>
<div>
  <p>コメント件数:<%= @list.comments.count %></p>
  <% @list.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", subject_comment_path(@list, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% end %><br>
  <% end %>

  <% if @list.favorited_by?(current_user) %>
    <p>
      <%= link_to subject_favorite_path(@list),method: :delete do %>
        ♥<%= @list.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to subject_favorite_path(@list), method: :post do %>
        ♡<%= @list.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>
<div>
  <%= form_with model: @list, url: subject_comments_path(@list.id),  method: :post do |f| %>
    <%= f.text_area :comment, rows: '5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>