 <div class="container">
        <div class="row">
          <div class="col-lg-4"> <%# 部分テンプレートのBootstrapが影響して上手くいかない可能性あり。 %>
            <%= render 'subject', list: @list2 %> <%# <%= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>　<%#※部分テンプレートを呼び出すのに必要な記述 %>
          </div>
          <div class="col-lg-8">
          <h2>スレッド詳細</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>スレッド説明</th>
                <th>コメント数</th>
                <th>経過時間</th>
                <th>操作</th>
                <th colspan="4"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @list.title%></td>
                <td><%= @list.body %></td>
                <td><%= @list.comments.count %></td>
                <td><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(@list.created_at) %>前</td>
                <td><% if @list.user == current_user %>
                      <a data-confirm="本当に消しますか？"class="btn btn-sm btn-danger" rel="nofollow" data-method="delete" href="<%= subject_path(@list) %>">Destroy</a>
                    <% end %>
                </td>
                <td><% if @list.user == current_user %>
                  <%= link_to "編集", edit_subject_path(@list.id) %>
                  <% end %>
                </td>
            <div>
              <% @list.comments.each do |comment| %>
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
                <% if comment.user == current_user %>
                  <%= link_to "削除", subject_comment_path(@list, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
                <% end %><br>
              <% end %>

              <% if @list.favorited_by?(current_user) %>
                <p>
                  <%= link_to subject_favorite_path(@list),method: :delete do %>
                    ♥<%= @list.favorites.count %> いいね
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to subject_favorite_path(@list), method: :post do %>
                    ♡<%= @list.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </div>
            <div>
              <%= form_with model: @list, url: subject_comments_path(@list.id),  method: :post do |f| %>
                <%= f.text_area :comment, rows: '5',placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
              </tbody>
              </table>
            </div>
            </div>
</div>
</div>